$primary-color: rgba(86,61,124,.15);
$second-color: rgba(86,61,124,.2);
body {
	font-size: 16px;
	section{
		margin: 2rem auto;
	}
    .row>[class^=col-]{
    	background-color:$primary-color;
        border:1px solid $second-color;
    }
}
